@use "../styles/global_variables.module.scss" as vars;

.main {
  min-height: 100vh;
  padding: 2rem 6rem;
  flex: 1;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 3.5rem;
  margin: 1rem;

  /* Grey */

  color: #313235;
}

.description {
  font-weight: 400;
  font-size: 18px;
  margin: 1rem;

  /* Grey */

  color: #313235;
}

.subtitle {
  font-weight: 600;
  font-size: 32px;
  margin-top: 2rem;
  color: vars.$committee-color;
}

.upcoming-events-title {
  margin-top: 0;
  text-align: center;
}

.centered-description {
  text-align: center;
}

.card {
  min-height: 200px;
  text-align: center;
  margin: 1rem;
}

.past-card {
  width: 45%;
}

.calendar-and-events-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 2rem;
}

/* Grid that contains event cards on the events page */
.boardgrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* space between cards */
  justify-content: flex-start;
  padding: 0 2rem; /* padding on the sides of the screen */
  box-sizing: border-box;
}

.calendar-container {
  flex: 1 1 50rem;
}

.calendar-container iframe {
  width: 100%;
  height: 70vh;
}

.events-section {
  flex: 1 1 50rem;
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  height: 70vh;
  overflow: auto;
}

.past-events-container {
  width: 100%;
}

.past-events-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .card,
  .past-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .events-section {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .calendar-and-events-wrapper {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }

  .calendar-container,
  .events-section {
    flex: none;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .calendar-container iframe {
    height: 50vh;
  }

  .events-section {
    max-width: 100%;
    padding: 0;
    height: auto;
  }

  .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-height: auto;
  }

  .past-card {
    width: 100%;
  }

  .past-events-grid {
    justify-content: center;
  }
}
